.subhead-header-two {
  padding: 135px 0 0;
  min-height: 300px;
  background: url("../../images/2-layers.png") no-repeat;
  h2 {
    color: #fff;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
}

.wrapper-post {
  padding: 100px 0 60px;
}

.blog-post {
  padding: 0;
  display: flex;
  width: 70%;
  float: left;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-posts {
  h2 {
    a {
      color: #000;
      font-family: Roboto, Arial, Tahoma sans-serif;
      font-size: 16px;
      font-weight: 500;
      display: block;
      margin-bottom: 15px;
      &:hover {
        color:#ff4848;
      }
    }
  }
  .wrap-content-post {
    padding: 15px 20px;
  }
  .post-description {
    p{
      color: #000;
      font-family: Roboto, Arial, Tahoma sans-serif;
      font-size: 9px;
      font-weight: 400;
    }
  }
  .info {
    background: url("../../images/vector-smart-objectaf.png") 35% 50% no-repeat;
    margin-top: 20px;
    text-align: center;
    color: #6d6464;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0;
  }
}

.content-posts  {
  width: 45%;
}
.wrap-sidebar {
  width: 30%;
  float: right;
}
.pag-wrap {
  clear: both;
}

#search-3 {
  padding-bottom: 30px;
  .assistive-text {
    text-indent: -9999px;
  }
  background-color: #004966;
  margin-bottom: 15px;
  h2 {
    color: #ffffff;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }
};

#searchsubmit {
  display: none;
}

#searchform {
  text-align: center;
  .field {
    background: transparent;
    padding: 15px;
    border: 1px solid #ffffff;
    color: #b2b2b2;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
}

#mostpopulartags-4 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #004966;
  padding: 45px 20px 75px;
  h2 {
    color: #ffffff;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }
  a {
    color: #fff;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 22px !important;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

#email-subscribers-4 {
  background-color: #004966;
  padding: 30px 20px;
  h2 {
    color: #ffffff;
    font-family: Roboto, Arial, Tahoma sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
  }
}

.es_lablebox,
.es_textbox,
.es_lablebox {
  display: none;
}

#es_txt_email {
  background: transparent;
  padding: 15px;
  border: 1px solid #ffffff;
  color: #b2b2b2;
  font-family: Roboto, Arial, Tahoma sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}

#es_txt_button {
  text-transform: uppercase;
  display: block;
  width: 291px;
  height: 57px;
  border: 1px solid #ffffff;
  background-color: #ff4848;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.content-posts {
  .img-wrap {
    img {
      width: 100%;
    }
    a {
      display: block;
      position: relative;
      &:before {
        content: " ";
        display: block;
        height: 46px;
        width: 47px;
        position: absolute;
        right: -1%;
        background: url("../../images/2-layersd.png") no-repeat;
      }
    }
  }
}

.pagination  {
  .page-numbers  {
    padding: 5px 8px;
    background-color: #ff4848;
  }
}